{% extends 'base.html' %}
{% load static %}

{% block title %}Starforge Gaming | Login{% endblock %}

{% block content %}

    <div class="signup-container">

        {% if form %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" id="registro-form">
            {% csrf_token %}
            <input type="checkbox" class="input-check" id="input-check">
            <label for="input-check"></label>

            <span><h2 class="login-title">Registro</h2></span>

            <!-- Usuario -->

            <div class="input-box">
                <label for="{{ form.username.id_for_label
                }}">Usuario</label>
                <input type="text" name="{{ form.username.html_name}}" 
                                    id="{{ form.username.id_for_label}}"
                                    value="{{ form.username.value|default_if_none:'' }}" >
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                {% if form.username.error %}
                <div class="invalid-feedback d-block">
                    {{form.username.errors|striptags }}
                </div>
                {% endif %}
                <div class="input-line"></div>
            </div>


            <!--<div class="input-box">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <input type="text" name="username" required value="{{ request.POST.username }}" required>
                <label>Usuario</label>
                <div class="input-line"></div>
            </div>-->

            <!-- Email -->

            <div class="input-box">
                <label for="{{ form.email.id_for_label
                }}">Email</label>
                <input type="text" name="{{ form.email.html_name}}" 
                                    id="{{ form.email.id_for_label}}"
                                    value="{{ form.email.value|default_if_none:'' }}" >
                <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                {% if form.email.error %}
                <div class="invalid-feedback d-block">
                    {{form.email.errors|striptags }}
                </div>
                {% endif %}
                <div class="input-line"></div>
            </div>

            <!--<div class="input-box">
                <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" name="email" required value="{{ request.POST.email }}" required>
                <label>Email</label>
                <div class="input-line"></div>
            </div>-->

            <!-- Contraseña -->

            <div class="input-box">
                <label for="{{ form.password1.id_for_label
                }}">Contraseña</label>
                <input type="password" name="{{ form.password1.html_name}}" 
                                    id="{{ form.password1.id_for_label}}"
                                    value="{{ form.password1.value|default_if_none:'' }}" >
                <span class="icon" onclick="togglePassword('{{ form.password1.id_for_label }}')">
                    <i class="fa fa-eye" id="icon-{{ form.password1.id_for_label }}"></i>
                </span>
                {% if form.password1.error %}
                <div class="invalid-feedback d-block">
                    {{form.password1.errors|striptags }}
                </div>
                {% endif %}
                <div class="input-line"></div>
            </div>

            <!--<div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="password" name="password" id="password" required>
                <label>Contraseña</label>
                <div class="input-line"></div>
            </div>-->

            <!-- Requisitos de contraseña -->
            <!--<div class="password-requisitos">
                <ul>
                    <li id="req-length">Mínimo 8 caracteres</li>
                    <li id="req-uppercase">Al menos una letra mayúscula</li>    
                    <li id="req-number">Al menos un número</li>
                    <li id="req-special">Al menos un carácter especial (!@#$%&*)</li>
                    <li id="req-match">Las contraseñas deben coincidir</li>
                </ul>
            </div>-->

            <!-- Confirmar contraseña -->

            <div class="input-box">
                <label for="{{ form.password2.id_for_label
                }}">Confirmar contraseña</label>
                <input type="password" name="{{ form.password2.html_name}}" 
                                    id="{{ form.password2.id_for_label}}"
                                    value="{{ form.password2.value|default_if_none:'' }}" >
                <span class="icon" onclick="togglePassword('{{ form.password2.id_for_label }}')">
                    <i class="fa fa-eye" id="icon-{{ form.password2.id_for_label }}"></i>
                </span>
                {% if form.password2.error %}
                <div class="invalid-feedback d-block">
                    {{form.password2.errors|striptags }}
                </div>
                {% endif %}
                <div class="input-line"></div>
            </div>

            <!--<div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="password" name="confirmar_password" id="confirmar_password" required>
                <label>Confirmar Contraseña</label>
                <div class="input-line"></div>
            </div>-->

            <!-- Imagen -->
            <!--<div class="input-box">
                <span class="icon"><i class="fa-solid fa-image"></i></span>
                <input type="file" name="imagen" required>
                <label>Imagen</label>
                <div class="input-line"></div>
            </div>-->

            <!-- Superusuario -->
            <!--{% if request.user.is_staff %}-->
            <div class="remember-forgot">
                <label>
                    <input type="checkbox" name="is_superuser">
                    ¿Es superusuario?
                </label>
            </div>
            <!--{% endif %}-->

            <!--<div class="superuser">
                <label>
                    ¿Es superusuario?
                    <input type="checkbox" name="superuser" id="superuser">
                </label>
            </div>-->

            <div class="account">
                <label>
                    ¿Ya tenés cuenta?
                </label>
                <a href="{% url 'login' %}">Inicia sesión aquí</a>
            </div>

            <button type="submit" class="login-btn">Registrar</button>

            <!--<div class="register-link">
                <p>¿Ya tenés cuenta? <a href="/login/signin/">Iniciar sesión</a></p>
            </div>-->

            {% if mensaje %}
                <div style="color:white;text-align:center;margin-top:10px">{{ mensaje }}</div>
            {% endif %}
        </form>
    </div>

    <!-- Validación visual -->
    <script>
        document.getElementById("registro-form").addEventListener("submit", function(e) {
            const pass = document.getElementById("password").value;
            const confirm = document.getElementById("confirmar_password").value;
            if (pass !== confirm) {
                alert("Las contraseñas no coinciden");
                e.preventDefault();
            }
        });
    </script>
    <script src="blog.js"></script>

{% endblock %}