<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint Games</title>
</head>
<body>
    <div class="hero">
        <img src="#"  class="img-hero" alt="SOLDIER">
        <div class="neon-text flickering">
            <h1 class="main-title">
                <span>C</span><span class="flickering-a">H</span><span>EC</span><span class="flickering-s">K</span>
                <br>
                <span>SH</span><span class="flickering-e">E</span><span>L</span><span class="flickering-t">T</span><span>ER</span>
            </h1>
        </div>
    </div>

        <div class="registro">
            <p>Si no sos parte de nuestra comunindad registrate aquí</p>
            <a href="#" class="btn-registro">SIGNUP</a>
        </div>


    <div class="popular">
        <span>
            <hr>
        </span>
        <h2 class="pop-title">JUEGOS MAS POPULARES</h2>
        <div class="pop-content">
            <div class="card">
                <img src="#" alt="Battletoads">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
            <div class="card">
                <img src="#" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
            <div class="card">
                <img src="#" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
        </div>
    </div>

    <div class="news">
        <span class="hr-news">
            <hr>
        </span>
        <h2 class="news-title">NOTICIAS</h2>
        <div class="news-content">
            <div class="news-card">
                <img src="#" alt="Battletoads">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
            <div class="news-card">
                <img src="#" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
            <div class="news-card">
                <img src="#" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
        </div>
    </div>
</body>
</html>