{% extends 'base.html' %}
{% load static %}
{% block title %}Checkpoint Games{% endblock %}
{% block content %}
    <div class="hero">
        <img src="{% static 'img/img-blog/soldier.webp' %}"  class="img-hero" alt="SOLDIER">
        <div class="neon-text flickering">
            <h1 class="main-title">
                <span>CH</span><span class="flickering-a">E</span><span>CK</span><span class="flickering-s">POINT</span>
                <br>
                <span>GA</span><span class="flickering-e">M</span><span>E</span><span class="flickering-t">S</span><span></span>
            </h1>
        </div>
    </div>


        <div class="registro">
            <p>Si no sos parte de nuestra comunindad registrate aquí</p>
        </div>

        <div class="arrow">
            <span class="flickering-s"><i class="fa-solid fa-chevron-down"></i></span>
            <span class="flickering-a"><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        
        <div class="registro">
            <a href="#" class="btn-registro">SIGNUP</a>
        </div>
        


    <div class="popular">
        <span>
            <hr>
        </span>
        <h2 class="pop-title">JUEGOS MAS POPULARES</h2>
        <div class="pop-content">
            <!--<div class="card">
                <img src="{% static 'img/img-blog/Battletoads.webp' %}" alt="Battletoads">
                <h3>Battletoads</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
            <div class="card">
                <img src="{% static 'img/img-blog/Boogerman.png' %}" alt="">
                <h3>Boogerman</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
            <div class="card">
                <img src="{% static 'img/img-blog/Cadillacs_&_Dinosaurs.jpg' %}" alt="">
                <h3>Cadillacs & Dinosaurs</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>-->

                <div class="card">
                    <div class="post-usuario">
                        <a href="#">
                            <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                            <p class="card-text">{{ juego.nombre_usuario }}</p>
                        </a>
                    </div>
                    <p class="card-text">Fecha: {{ juego.fecha }}</p>
                    <img class="main-img" src="{% static 'img/img-blog/imagen_predeterminada.jpg' %}" alt="imagen juego">
                    <div class="like-container"><!--BOTON LIKE-->
                        <input type="checkbox" class="like-checkbox" id="like-1">
                        <label class="like-label" for="like-1">
                            <i class="fas fa-heart"></i>
                            <span class="sr-only">Me gusta</span>
                        </label>
                        <span class="like-count">0</span>
                    </div><!--TERMINA BOTON LIKE-->
                    <!--<div class="card-body">-->
                        <h3 class="card-title">{{ juego.nombre }}</h3>
                        <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                        <a href="#" class="btn-post">Ver Post</a>
                    <!--</div>-->
                </div>

                <div class="card">
                    <div class="post-usuario">
                        <a href="#">
                            <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                            <p class="card-text">{{ juego.nombre_usuario }}</p>
                        </a>
                    </div>
                    <p class="card-text">Fecha: {{ juego.fecha }}</p>
                    <img class="main-img" src="{% static 'img/img-blog/imagen_predeterminada.jpg' %}" alt="imagen juego">
                    <div class="like-container"><!--BOTON LIKE-->
                        <input type="checkbox" class="like-checkbox" id="like-1">
                        <label class="like-label" for="like-1">
                            <i class="fas fa-heart"></i>
                            <span class="sr-only">Me gusta</span>
                        </label>
                        <span class="like-count">0</span>
                    </div><!--TERMINA BOTON LIKE-->
                    <!--<div class="card-body">-->
                        <h3 class="card-title">{{ juego.nombre }}</h3>
                        <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                        <a href="#" class="btn-post">Ver Post</a>
                    <!--</div>-->
                </div>

                <div class="card">
                    <div class="post-usuario">
                        <a href="#">
                            <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                            <p class="card-text">{{ juego.nombre_usuario }}</p>
                        </a>
                    </div>
                    <p class="card-text">Fecha: {{ juego.fecha }}</p>
                    <img class="main-img" src="{% static 'img/img-blog/imagen_predeterminada.jpg' %}" alt="imagen juego">
                    <div class="like-container"><!--BOTON LIKE-->
                        <input type="checkbox" class="like-checkbox" id="like-1">
                        <label class="like-label" for="like-1">
                            <i class="fas fa-heart"></i>
                            <span class="sr-only">Me gusta</span>
                        </label>
                        <span class="like-count">0</span>
                    </div><!--TERMINA BOTON LIKE-->
                    <!--<div class="card-body">-->
                        <h3 class="card-title">{{ juego.nombre }}</h3>
                        <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                        <a href="#" class="btn-post">Ver Post</a>
                    <!--</div>-->
                </div>
            
        </div>
    </div>

    <div class="news">
        <span class="hr-news">
            <hr>
        </span>
        <h2 class="news-title">NOTICIAS</h2>
        <div class="news-content">
            <div class="news-card">
                <img src="{% static 'img/img-blog/summer-game-fest.jpg' %}" alt="Battletoads">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
            <div class="news-card">
                <img src="{% static 'img/img-blog/THT-The-hive-league-of-legends.jpg' %}" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
            <div class="news-card">
                <img src="{% static 'img/img-blog/xbox-game-pass.jpg' %}" alt="">
                <h3>EXPLORE NEW WORLDS</h3>
                <p>Discover and conquer distant planets filled with unique environments and hidden secrets.</p>
                <a href="#" class="btn-post">Leer +</a>
            </div>
        </div>
    </div>
{% endblock %}