{% extends 'base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}

<div class="hero-post">
    <h2 class="blog-title">
        <span class="flickering-h1"><h2 class="contacto-title">PO<span class="flickering-o">S</span>TE<span class="flickering-a">O</span><span class="flickering-c">S</span><span class="flickering-o"></span></h2></span>
    </h2>
    




<!--<div class="blog">-->

    <section class="filtros-container">
        <h3>Filtrar y ordenar</h3>
        <!-- Botones de tipo de filtro -->
        <div class="filtro-tipo-container">
            <button class="filtro-tipo-btn active" data-tipo="categoria">Categorías</button>
            <button class="filtro-tipo-btn" data-tipo="fecha">Post</button>
            <button class="filtro-tipo-btn" data-tipo="comentarios">Comentarios</button>
        </div>
    </section>

    <!-- Carrusel de filtros -->
    <div class="carrusel-filtros">
        <button class="carrusel-btn prev-btn" aria-label="Deslizar hacia la izquierda">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="carrusel-track">
        <!-- Grupo de filtros: Categoría -->
            <div class="filtro-grupo categoria active">
                <button class="filtro-btn active" data-filtro="categoria" data-categoria="all">Todos</button>
                <button class="filtro-btn" data-filtro="categoria" data-categoria="nes">NES</button>
                <button class="filtro-btn" data-filtro="categoria" data-categoria="sega">SEGA</button>
                <button class="filtro-btn" data-filtro="categoria" data-categoria="playstation">PlayStation</button>
                <button class="filtro-btn" data-filtro="categoria" data-categoria="xbox">XBOX</button>
                <button class="filtro-btn" data-filtro="categoria" data-categoria="pc">PC</button>
            </div>
        <!-- Grupo de filtros: Fecha -->
            <div class="filtro-grupo fecha">
                <button class="filtro-btn" data-filtro="fecha" data-orden="reciente">Post Más recientes</button>
                <button class="filtro-btn" data-filtro="fecha" data-orden="antiguo">Post Más antiguos</button>
            </div>
        <!-- Grupo de filtros: Comentarios -->
            <div class="filtro-grupo comentarios">
                <button class="filtro-btn" data-filtro="comentarios" data-orden="mas">Más comentados</button>
                <button class="filtro-btn" data-filtro="comentarios" data-orden="menos">Menos comentados</button>
            </div>
        </div>
        <button class="carrusel-btn next-btn" aria-label="Deslizar hacia la derecha">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>



    <div class="grid-container">
    {% for juego in post_juego %}
            <!--<div class="col">-->
                <div class="card">
                    <div class="post-usuario">
                        <a href="#">
                            <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                            <p class="card-text">{{ juego.nombre_usuario }}</p>
                        </a>
                    </div>
                    <p class="card-text">Fecha: {{ juego.fecha }}</p>
                    <img class="main-img" src="{% static 'img/img-blog/' %}{{ juego.imagen }}" alt="imagen juego">
                    <div class="like-container"><!--BOTON LIKE-->
                        <input type="checkbox" class="like-checkbox" id="like-1">
                        <label class="like-label" for="like-1">
                            <i class="fas fa-heart"></i>
                            <span class="sr-only">Me gusta</span>
                        </label>
                        <span class="like-count">0</span>
                    </div><!--TERMINA BOTON LIKE-->
                    <!--<div class="card-body">-->
                        <h3 class="card-title">{{ juego.nombre }}</h3>
                        <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                        <a href="#" class="btn-post">Ver Post</a>
                    <!--</div>-->
                </div>
            <!--</div>-->
    {% endfor %}
    </div>
<!--</div>-->

    <!--PAGINACIÓN-->

    <!--<nav aria-label="Paginación" class="pagination">
        <ul class="pagination justify-content-center">
            {% if lista_post.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primera</a>
            </li>
            
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.previous_page_number }}">
                    Anterior
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Primera</span>
            </li>

            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            {% endif %}

            {% for num in lista_post.paginator.page_range %}
            {% if lista_post.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > post.juego.number|add:'-3' and num < post.juego.number|add:'3' %}
            <li class="page-item">
                <a class="link-page" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if lista_post.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.paginator.next_page_number }}">Siguiente</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.paginator.num_pages }}">Ultima</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Siguente</span>
            </li>

            <li class="page-item disabled">
                <span class="page-link">Ultima</span>
            </li>
            {% endif %}
        </ul>
    </nav>-->

     <!--PAGINACIÓN-->

    <nav aria-label="Paginación" class="pagination">
        <ul class="pagination justify-content-center">
            {% if lista_post.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primera</a>
            </li>
            
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.previous_page_number }}">
                    Anterior
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Primera</span>
            </li>

            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            {% endif %}

            {% for num in lista_post.paginator.page_range %}
            {% if lista_post.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > post.juego.number|add:'-3' and num < post.juego.number|add:'3' %}
            <li class="page-item">
                <a class="link-page" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if lista_post.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.paginator.next_page_number }}">Siguiente</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ lista_post.paginator.num_pages }}">Ultima</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Siguente</span>
            </li>

            <li class="page-item disabled">
                <span class="page-link">Ultima</span>
            </li>
            {% endif %}
        </ul>
    </nav>




{% endblock %}