{% extends 'base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}

<span class="flickering-h1"><h2 class="contacto-title">PO<span class="flickering-o">S</span>TE<span class="flickering-a">O</span><span class="flickering-c">S</span><span class="flickering-o"></span></h2></span>

</div>

<!--<div class="blog">-->
    <div class="grid-container">
    {% for juego in post_juego %}
            <!--<div class="col">-->
                <div class="card">
                    <div class="post-usuario">
                        <a href="#">
                            <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                            <p class="card-text">{{ juego.nombre_usuario }}</p>
                        </a>
                    </div>
                    <p class="card-text">Fecha: {{ juego.fecha }}</p>
                    <img class="main-img" src="{% static 'img/img-blog/Boogerman.png' %}" alt="imagen juego">
                    <div class="like-container"><!--BOTON LIKE-->
                        <input type="checkbox" class="like-checkbox" id="like-1">
                        <label class="like-label" for="like-1">
                            <i class="fas fa-heart"></i>
                            <span class="sr-only">Me gusta</span>
                        </label>
                        <span class="like-count">0</span>
                    </div><!--TERMINA BOTON LIKE-->
                    <!--<div class="card-body">-->
                        <h3 class="card-title">{{ juego.nombre }}</h3>
                        <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                        <a href="#" class="btn-post">Ver Post</a>
                    <!--</div>-->
                </div>
            <!--</div>-->
    {% endfor %}
    </div>
<!--</div>-->



{% endblock %}