{% extends 'base.html' %}
{% load static %}
{% block title %}Detalles del Juego{% endblock %}
{% block content %}

<div class="content-container">
    <div class="card-blog">

        <div class="post-actions">
            <input type="checkbox" class="menu-checkbox" id="post-menu-1">
            <label class="menu-label" for="post-menu-1"><i class="fas fa-ellipsis-v"></i></label>
            <div class="dropdown-menu">
                <form action="#" method="get">
                    <button type="submit" class="edit-btn"><i class="fas fa-edit"></i> Editar</button>
                </form>
                <form action="#" method="post">
                    <button type="submit" class="delete-btn"><i class="fas fa-trash"></i> Eliminar</button>
                </form>
            </div>
        </div>

        <div class="post-usuario">
            <a href="#">
                <img src="{% static 'img/profiles/perfil 5.jpg'%}" alt="Perfil del Usuario" class="perfil-img">
                <p class="card-text">{{ juego.nombre_usuario }}</p>
            </a>
        </div>
        <p class="card-text">Fecha: {{ juego.fecha }}</p>
        <img class="main-img" src="{% static 'img/img-blog/' %}{{ juego.imagen }}" alt="imagen juego">

        <!--<div class="card-body">-->
            <h3 class="card-title">{{ juego.nombre }}</h3>
            <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
        <!--</div>-->

        <div class="like-container"><!--BOTON LIKE-->
            <input type="checkbox" class="like-checkbox" id="like-1">
            <label class="like-label" for="like-1">
                <i class="fas fa-heart"></i>
                <span class="sr-only">Me gusta</span>
            </label>
            <span class="like-count">0</span>
        </div><!--TERMINA BOTON LIKE-->
        <a href="#" class="btn-descarga"><i class="fas fa-download"></i>Descargar</a>
                <div class="rating-container">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <span class="rating-score">5/5</span>
                </div>
        
        <div class="text-content">
            <label class="com-label" for="">DESCRIPCIÓN:</label>
            <p>Battletoads es un videojuego del género beat 'em up donde el personaje principal debe luchar contra muchos enemigos (como en Double Dragon o Final Fight). 
                    Fue publicado por primera vez para la videoconsola Nintendo Entertainment System, en el año 1991.
                    En este juego, debíamos manejar a unos sapos, los cuales debían luchar contra distintos enemigos, con caracteres de monstruos. 
                    El haber usado anfibios como personajes principales luchadores, les significó críticas, 
                    al ser similares a sus competidoras reptiles las Tortugas Ninja.
                    Battletoads fue desarrollado en respuesta al auge de las Tortugas Ninja.
                </p>
        </div>

        <div class="comentario-container">
            <form class="com-form" action="#" method="post" id="com-form">
                <label for="comment-input-1" class="com-label">comentar</label>
                <input type="text" name="comentario" placeholder="Comenta aquí...">
                <button type="submit" class="btn-post">ENVIAR</button>
            </form>
        </div>

        <div class="lista-com">

            <div class="comentarios">
                <span><a href="#">Usuario1:</a></span> Batteltoads! orem ipsum dolor sit amet consectetur adipisicing elit. 
                Et rerum, facere accusamus soluta non rem corrupti aliquam optio possimus alias nulla, 
                temporibus debitis quod obcaecati fugiat dolorem placeat. 
                <div class="comment-actions"> <!--BOTON EDIT/ELIMINAR, TODO ESTE CODIGO ESTA DENTRO DEL DIV "COMENTARIOS"-->
                    <input type="checkbox" class="menu-checkbox" id="menu-1">
                    <label class="menu-label" for="menu-1"><i class="fas fa-ellipsis-v"></i></label>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <form action="#" method="get">
                                <button type="submit" class="edit-btn" aria-label="Editar comentario"><i class="fas fa-edit"></i> Editar</button>
                            </form>
                            <form action="#" method="post">
                                <button type="submit" class="delete-btn" aria-label="Eliminar comentario"><i class="fas fa-trash"></i>Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div><!--TERMINA ACA-->
            </div>

            <div class="comentarios"><span><a href="#">Usuario1:</a></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Et rerum, facere accusamus soluta non rem corrupti aliquam optio possimus alias nulla, 
                temporibus debitis quod obcaecati fugiat dolorem placeat. 
                Dolorum, dolore.
                <div class="comment-actions"> <!--BOTON EDIT/ELIMINAR, TODO ESTE CODIGO ESTA DENTRO DEL DIV "COMENTARIOS"-->
                    <input type="checkbox" class="menu-checkbox" id="menu-2">
                    <label class="menu-label" for="menu-2"><i class="fas fa-ellipsis-v"></i></label>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <form action="#" method="get">
                                <button type="submit" class="edit-btn" aria-label="Editar comentario"><i class="fas fa-edit"></i> Editar</button>
                            </form>
                            <form action="#" method="post">
                                <button type="submit" class="edit-btn" aria-label="Eliminar comentario"><i class="fas fa-edit"></i> Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div><!--TERMINA ACA-->
            </div>
        </div>
    </div>
</div>

{% endblock %}