{% extends 'base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}

<div class="neon-text flickering">
    <h1 class="main-title">
        <span>P</span><span class="flickering-a">O</span><span>STE</span><span class="flickering-s">OS</span>
    </h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for juego in post_juego %}
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/img-blog/Boogerman.png' %}" alt="imagen juego">
                <div class="card-body">
                <h3>{{ juego.nombre }}</h3>
                <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                <a href="#" class="btn-post">Ver Post</a>
            </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}